<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no">
<meta name="keyword" content="">
<meta name="description" content="">
<meta name="author" content="lightuni.com">

<title>中证宝人脸核验系统</title>

<link rel="stylesheet" href="../css/all.css">
<script src="../js/all.js"></script>

<style>

</style>
</head>
<body>

<div id="app">

	<div class="debug" style="dis play: none;">
		debug:<br>
	</div>

	<div v-if="page == 0">
		loading ...
	</div>

	<div v-if="page == 1">

		<div style="margin: 30px;">

			<div style="margin-bottom: 10px; font-size: 24px;">注册成功，你注册的资料如下</div>

			<div style="line-height: 250%">
				商户名称：{{a.title}}<br>
				手机号码：{{a.mobile}}<br>
				登录账号：{{a.identifier}}<br>
				登录密码：{{a.password}}<br>
			</div>

			<hr style="margin: 15px 0 20px;">

			<div>
				<a class="weui-btn weui-btn_primary"
				href="mch.html"
				>进入首页</a>
			</div>
		</div>

	</div>


	<div v-if="loading == 1">
		<div class="weui-mask_transparent"></div>
		<div class="weui-toast">
			<i class="weui-loading weui-icon_toast"></i>
			<p class="weui-toast__content">数据加载中</p>
		</div>
	</div>

	<div class="js_dialog" v-if="alert != ''">
		<div class="weui-mask"></div>
		<div class="weui-dialog">
			<div class="weui-dialog__hd"><strong class="weui-dialog__title">{{alert.title ? alert.title:'提示'}}</strong></div>
			<div class="weui-dialog__bd">{{alert.message}}</div>
			<div class="weui-dialog__ft">

				<a class="weui-dialog__btn weui-dialog__btn_default"
				href="javascript:;"
				v-if="alert.close == 'wx'"
				@click="wx_close()">关闭</a>

				<a class="weui-dialog__btn weui-dialog__btn_default"
				href="javascript:;"
				v-if="alert.close == undefined"
				@click="alert = ''">关闭</a>

				<a class="weui-dialog__btn weui-dialog__btn_primary"
				:href="`${alert.jump}`"
				v-if="alert.jump != undefined">确定</a>
			</div>
		</div>
	</div>

</div><!--app-->


<script>
var app = new Vue({
	el: '#app',
	data:{
		page: 0,
		loading: 1,
		alert: '',

		a: {
			title: '',
			mobile: '',
			identifier: '',
			password: '',
		}
	},
	methods:{
		toast: function(json){
			this.alert = json
		},
		toast_close: function(){
			this.alert = ''
		},
		wx_close: function(){
			WeixinJSBridge.invoke('closeWindow',{},function(res){})
		},
		debug: function(log){
			$('.debug').html( $('.debug').html() + log + '<br>' )
		},


	},
	mounted(){
		_this = this

		console.log('vue is ready')


		this.page = 1

		this.loading = 0

		this.a = JSON.parse(LS.success)

	}
})
</script>
</body>
</html>