<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no">
<meta name="keyword" content="">
<meta name="description" content="">
<meta name="author" content="lightuni.com">

<title>中证宝人脸核验系统</title>

<link rel="stylesheet" href="../css/all.css">
<script src="../js/all.js"></script>

<style>

</style>
</head>
<body>

<div id="app">

	<div class="debug" style="dis play: none;">
		debug:<br>
	</div>

	<div v-if="page == 0">
		loading ...
	</div>

	<div v-if="page == 1">

		<form class="weui-form">
			<div class="weui-form__text-area">
				<h2 class="weui-form__title">注册成功</h2>
				<p class="weui-msg__desc">你注册的资料如下</p>
			</div>
			<div class="weui-form__control-area">
				<div class="weui-cells__group weui-cells__group_form">
					<div class="weui-cells weui-cells_form">

						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">商户名称</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input"
								type="text" name="title" v-model="a.title" disabled>
							</div>
						</div>

						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input"
								type="number" name="mobile" v-model="a.mobile" disabled>
							</div>
						</div>

						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">登录账号</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input"
								type="text" name="identifier" v-model="a.identifier" disabled>
							</div>
						</div>

						<div class="weui-cell">
							<div class="weui-cell__hd"><label class="weui-label">登录密码</label></div>
							<div class="weui-cell__bd">
								<input class="weui-input"
								type="text" name="password" v-model="a.password" disabled>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="mb30">
				<a class="weui-btn weui-btn_primary"
				href="mch.html"
				>进入首页</a>
			</div>
		</form>

	</div>


	<div v-if="loading == 1">
		<div class="weui-mask_transparent"></div>
		<div class="weui-toast">
			<i class="weui-loading weui-icon_toast"></i>
			<p class="weui-toast__content">数据加载中</p>
		</div>
	</div>

	<div class="js_dialog" v-if="alert != ''">
		<div class="weui-mask"></div>
		<div class="weui-dialog">
			<div class="weui-dialog__hd"><strong class="weui-dialog__title">{{alert.title ? alert.title:'提示'}}</strong></div>
			<div class="weui-dialog__bd">{{alert.message}}</div>
			<div class="weui-dialog__ft">

				<a class="weui-dialog__btn weui-dialog__btn_default"
				href="javascript:;"
				v-if="alert.close == 'wx'"
				@click="wx_close()">关闭</a>

				<a class="weui-dialog__btn weui-dialog__btn_default"
				href="javascript:;"
				v-if="alert.close == undefined"
				@click="alert = ''">关闭</a>

				<a class="weui-dialog__btn weui-dialog__btn_primary"
				:href="`${alert.jump}`"
				v-if="alert.jump != undefined">主操作</a>
			</div>
		</div>
	</div>

</div><!--app-->


<script>
var app = new Vue({
	el: '#app',
	data:{
		page: 0,
		loading: 1,
		alert: '',

		a: {
			title: '',
			mobile: '',
			identifier: '',
			password: '',
		}
	},
	methods:{
		toast: function(json){
			this.alert = json
		},
		toast_close: function(){
			this.alert = ''
		},
		wx_close: function(){
			WeixinJSBridge.invoke('closeWindow',{},function(res){})
		},
		debug: function(log){
			$('.debug').html( $('.debug').html() + log + '<br>' )
		},


	},
	mounted(){
		_this = this

		console.log('vue is ready')


		this.page = 1

		this.loading = 0

		this.a = JSON.parse(LS.success)

	}
})
</script>
</body>
</html>